body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.vencida {
    background-color: #ffdddd;
    color: #ff0000;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
}

.paga {
    background-color: #ddffdd;
    color: #00cc00;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
}

.a-pagar {
    background-color: #ffffdd;
    color: #ffcc00;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
}

.checkbox {
    text-align: center;
}

.checkbox input {
    width: 20px;
    height: 20px;
}
